In [27]:
import os

import pandas as pd
import numpy as np

In [28]:
DATA_DIR ='data'
ALARMS_FILE_NAME = 'alarms_clean.csv'
WEATHER_FILE_NAME = 'weather_clean.csv'
REGION_CITY_ADDRESS = 'region_city_address.csv'

Alarms

In [29]:
alarms_path = os.path.join(DATA_DIR, ALARMS_FILE_NAME)

In [30]:
alarms_df = pd.read_csv(alarms_path)

In [31]:
alarms_df["region_city"].unique()

array(['Чернігівська обл.', 'Вінницька обл.', 'Харківська обл.',
       'Тернопільська обл.', 'Київ', 'Рівненська обл.', 'Черкаська обл.',
       'Одеська обл.', 'Запорізька обл.', 'Волинська обл.',
       'Житомирська обл.', 'Херсонська обл.', 'Миколаївська обл.',
       'Хмельницька обл.', 'Івано-Франківська обл.',
       'Дніпропетровська обл.', 'Кіровоградська обл.', 'Полтавська обл.',
       'Київська обл.', 'Сумська обл.', 'Донецька обл.',
       'Закарпатська обл.'], dtype=object)

Weather

In [32]:
weather_path = os.path.join(DATA_DIR, WEATHER_FILE_NAME)

In [33]:
weather_df = pd.read_csv(weather_path)

In [34]:
weather_df["city_address"].unique()

array(['Cherkasy', 'Chernihiv', 'Chernivtsi', 'Dnipro', 'Donetsk',
       'Ivano-Frankivsk', 'Kharkiv', 'Kherson', 'Khmelnytskyi',
       'Kropyvnytskyi', 'Kyiv', 'Lutsk', 'Lviv', 'Mykolaiv', 'Odesa',
       'Poltava', 'Rivne', 'Sumy', 'Ternopil', 'Uzhgorod', 'Vinnytsia',
       'Zaporozhye', 'Zhytomyr'], dtype=object)

In [35]:
weather_kyiv_oblast = weather_df.replace({"Kyiv": "Kyiv oblast"}, inplace=False)
weather_kyiv_oblast = weather_kyiv_oblast[weather_kyiv_oblast["city_address"] == "Kyiv oblast"]

In [36]:
weather_kyiv_oblast

,Unnamed: 0,day_datetime,hour_datetime,city_address,hour_temp,hour_windspeed,hour_winddir,hour_precip,hour_humidity,hour_pressure,hour_cloudcover
10,10,2022-02-24,00:00:00,Kyiv oblast,1.9,7.4,217.0,0.0,93.08,1017.9,99.3
33,33,2022-02-24,01:00:00,Kyiv oblast,2.0,7.2,219.0,0.0,93.09,1018.0,99.7
56,56,2022-02-24,02:00:00,Kyiv oblast,2.0,3.9,212.0,0.0,99.15,1018.1,99.7
79,79,2022-02-24,03:00:00,Kyiv oblast,1.9,4.0,205.0,0.0,99.58,1018.9,97.8
102,102,2022-02-24,04:00:00,Kyiv oblast,1.9,4.0,228.0,0.0,99.78,1019.0,98.7
...,...,...,...,...,...,...,...,...,...,...,...
608199,608199,2025-03-01,19:00:00,Kyiv oblast,-0.1,10.1,181.6,0.0,97.13,1027.0,95.6
608222,608222,2025-03-01,20:00:00,Kyiv oblast,-0.3,0.0,189.9,0.4,92.96,1027.0,100.0
608245,608245,2025-03-01,21:00:00,Kyiv oblast,0.0,9.4,198.3,0.0,96.43,1027.0,100.0
608268,608268,2025-03-01,22:00:00,Kyiv oblast,0.0,8.3,199.9,0.0,97.84,1027.0,97.6
608291,608291,2025-03-01,23:00:00,Kyiv oblast,-0.3,0.0,199.5,0.0,94.33,1026.4,96.4

In [37]:
weather_fixed_df = pd.concat([weather_df, weather_kyiv_oblast])

In [38]:
weather_fixed_df["city_address"].unique()

array(['Cherkasy', 'Chernihiv', 'Chernivtsi', 'Dnipro', 'Donetsk',
       'Ivano-Frankivsk', 'Kharkiv', 'Kherson', 'Khmelnytskyi',
       'Kropyvnytskyi', 'Kyiv', 'Lutsk', 'Lviv', 'Mykolaiv', 'Odesa',
       'Poltava', 'Rivne', 'Sumy', 'Ternopil', 'Uzhgorod', 'Vinnytsia',
       'Zaporozhye', 'Zhytomyr', 'Kyiv oblast'], dtype=object)

REGION_CITY_ADRESS MERGING TABLE

In [39]:
region_city_address_path = os.path.join(DATA_DIR, REGION_CITY_ADDRESS)

In [40]:
region_city_address = pd.read_csv(region_city_address_path)
region_city_address

       city_address             region_city
0          Cherkasy          Черкаська обл.
1         Chernihiv       Чернігівська обл.
2        Chernivtsi        Чернівецька обл.
3            Dnipro   Дніпропетровська обл.
4           Donetsk           Донецька обл.
5   Ivano-Frankivsk  Івано-Франківська обл.
6           Kharkiv         Харківська обл.
7           Kherson         Херсонська обл.
8      Khmelnytskyi        Хмельницька обл.
9     Kropyvnytskyi     Кіровоградська обл.
10             Kyiv                    Київ
11            Lutsk          Волинська обл.
12             Lviv          Львівська обл.
13         Mykolaiv       Миколаївська обл.
14            Odesa            Одеська обл.
15          Poltava         Полтавська обл.
16            Rivne         Рівненська обл.
17             Sumy            Сумська обл.
18         Ternopil      Тернопільська обл.
19         Uzhgorod       Закарпатська обл.
20        Vinnytsia          Вінницька обл.
21       Zaporozhye         Запорізька обл.
22         Zhytomyr        Житомирська обл.
23      Kyiv oblast           Київська обл.

In [41]:
merged_alarms_df = alarms_df.merge(region_city_address, left_on="region_city", right_on="region_city", how="left")

In [42]:
merged_alarms_df

,id,region_id,region_city,all_region,start,end,start_year,start_month,start_day,start_hour,start_minute,duration,duration_in_min,city_address
0,53292,23,Чернігівська обл.,1,2022-02-24 14:00:43,2022-02-24 17:11:43,2022,February,24,14,0,3.183333,191.000000,Chernihiv
1,52080,3,Вінницька обл.,1,2022-02-24 15:40:42,2022-02-24 16:10:42,2022,February,24,15,40,0.500000,30.000000,Vinnytsia
2,52857,19,Харківська обл.,1,2022-02-24 20:11:47,2022-02-24 20:59:47,2022,February,24,20,11,0.800000,48.000000,Kharkiv
3,52700,18,Тернопільська обл.,1,2022-02-25 01:59:36,2022-02-25 09:00:19,2022,February,25,1,59,7.011944,420.716667,Ternopil
4,52081,3,Вінницька обл.,1,2022-02-25 04:01:42,2022-02-25 08:35:42,2022,February,25,4,1,4.566667,274.000000,Vinnytsia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54438,158642,14,Одеська обл.,1,2025-03-01 21:49:30,2025-03-01 23:24:45,2025,March,1,21,49,1.587500,95.250000,Odesa
54439,158635,9,Київська обл.,1,2025-03-01 22:20:51,2025-03-02 01:38:57,2025,March,1,22,20,3.301667,198.100000,Kyiv oblast
54440,158636,9,Київ,0,2025-03-01 22:52:10,2025-03-02 00:55:18,2025,March,1,22,52,2.052222,123.133333,Kyiv
54441,158617,3,Вінницька обл.,1,2025-03-01 23:26:07,2025-03-02 02:44:07,2025,March,1,23,26,3.300000,198.000000,Vinnytsia
54442,158629,6,Житомирська обл.,1,2025-03-01 23:26:07,2025-03-02 02:43:26,2025,March,1,23,26,3.288611,197.316667,Zhytomyr